@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

.tittle {
  position: relative;
  height: 300px;
  border-bottom: 20px solid #eee;
}

.buttons {
  padding-top: 50px;
  padding-left: 700px;
  color: #eee;
}

h1 {
  font-size: 500%;
  text-align: center;
  position: absolute;
  padding: 100px;
  padding-left: 630px;
}

.again {
  position: absolute;
  top: 20px;
  left: 20px;
}


.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 30px;
  padding: 20px 45px;
}
